[submodule "tools/sandcastle"]
	path = tools/sandcastle
	url = https://github.com/mattpocock/sandcastle
	branch = main
[submodule "skills/mattpocock"]
	path = skills/mattpocock
	url = https://github.com/mattpocock/skills.git
	branch = main
[submodule "tools/pi-mono"]
	path = tools/pi-mono
	url = https://github.com/badlogic/pi-mono.git
	branch = main
[submodule "tools/beads"]
	path = tools/beads
	url = https://github.com/gastownhall/beads
	branch = main
[submodule "tools/gastown"]
	path = tools/gastown
	url = https://github.com/gastownhall/gastown.git
	branch = main
[submodule "skills/superpowers"]
	path = skills/superpowers
	url = https://github.com/obra/superpowers.git
	branch = main
[submodule "tools/serena"]
	path = tools/serena
	url = https://github.com/oraios/serena
	branch = main
[submodule "tools/context-mode"]
	path = tools/context-mode
	url = https://github.com/mksglu/context-mode.git
	branch = main
[submodule "tools/yakety"]
	path = tools/yakety
	url = https://github.com/badlogic/yakety
	branch = main
[submodule "skills/badlogic"]
	path = skills/badlogic
	url = https://github.com/badlogic/pi-skills
	branch = main
[submodule "tools/oh-my-pi"]
	path = tools/pi/oh-my-pi
	url = https://github.com/can1357/oh-my-pi.git
	branch = main
[submodule "tools/trafilatura"]
	path = tools/trafilatura
	url = https://github.com/adbar/trafilatura
	branch = master
[submodule "tools/percollate"]
	path = tools/percollate
	url = http://github.com/danburzo/percollate
	branch = main
[submodule "tools/pi-subagents"]
	path = tools/pi/pi-subagents
	url = https://github.com/nicobailon/pi-subagents
	branch = main
[submodule "skills/AgentiveStack"]
	path = skills/AgentiveStack
	url = https://github.com/AgentiveStack/skills
	branch = main
[submodule "tools/litellm"]
	path = tools/litellm
	url = https://github.com/BerriAI/litellm
	branch = main
[submodule "tools/moonshine"]
	path = tools/moonshine
	url = https://github.com/moonshine-ai/moonshine
	branch = main
[submodule "tools/pi.nvim"]
	path = tools/pi/pi.nvim
	url = https://github.com/pablopunk/pi.nvim
	branch = main
[submodule "tools/pi/pi"]
	path = tools/pi/pi
	url = https://github.com/earendil-works/pi.git
	branch = main
[submodule "tools/pi/pi-auto-theme"]
	path = tools/pi/pi-auto-theme
	url = https://git.sr.ht/~whynothugo/pi-auto-theme
	branch = main
[submodule "tools/pi/configs/HazAT"]
	path = tools/pi/configs/HazAT
	url = https://github.com/HazAT/pi-config
	branch = main
[submodule "tools/pi/configs/amosblomqvist"]
	path = tools/pi/configs/amosblomqvist
	url = git@github.com:amosblomqvist/pi-config.git
	branch = main
[submodule "tools/rumdl"]
	path = tools/rumdl
	url = https://github.com/rvben/rumdl.git
	branch = main
[submodule "tools/pi/pi-config"]
	path = tools/pi/pi-config
	url = https://github.com/amosblomqvist/pi-config
	branch = main
[submodule "tools/flue"]
	path = tools/flue
	url = https://github.com/badlogic/flue
[submodule "tools/rippr"]
	path = tools/rippr
	url = https://github.com/mrslbt/rippr
[submodule "tools/odysseus"]
	path = tools/odysseus
	url = https://github.com/pewdiepie-archdaemon/odysseus
